@font-face {
    font-family: 'Yuji Syuku';
    src: url('/fonts/YujiSyuku-Regular.woff2') format('woff2'),
        url('fonts/YujiSyuku-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

